.card {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(auto-fit, auto);
  gap: 40px;

  @include vp-1199 {
    grid-template-columns: repeat(1, auto);
    grid-template-rows: repeat(auto-fit, auto);
    gap: 44px;
  }

  @include vp-767 {
    gap: 17px;
  }
}

.card__item {
  width: 100%;
  padding: 51px 66px 59px 66px;
  background-color: #ffffff;
  border: 7px solid #ffffff;

  &:hover,
  &:focus {
    border: 7px solid;
    border-image: linear-gradient(148.82deg, #d10a42 0.85%, #00359f 100%) 1;
    box-sizing: border-box;
  }

  @include vp-1199 {
    padding: 54px 100px;
    max-width: 442px;
    margin: 0 auto;
  }

  @include vp-767 {
    padding: 55px 42px;
  }
}

.card__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card__content h3 {
  font-family: "RobotoCondensed-Bold", "Arial", sans-serif;
  font-size: 26px;
  line-height: 40px;
  text-transform: none;
  margin: 0 0 3px;
  color: #102654;
  text-align: center;

  @include vp-1199 {
    margin: 0 0 4px;
  }

  @include vp-767 {
    font-weight: 700;
    font-size: 22px;
    line-height: 110.16%;
    margin: 0 0 9px 0;
  }
}

.card__content small {
  margin: 0 0 68px;
  text-align: center;
  font-size: 16px;
  line-height: 150%;
  color: #495a7d;

  @include vp-1199 {
    margin: 0 0 65px;
  }

  @include vp-767 {
    margin: 0 0 54px;
  }
}

.card__price {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  text-align: center;
  gap: 15px;
  flex-wrap: wrap;

  @include vp-767 {
    gap: 8px;
  }
}

.card__price-number {
  font-family: "RobotoCondensed-Bold", "Arial", sans-serif;
  font-size: 60px;
  line-height: 150%;
  color: #103aae;
  z-index: 1;

  @include vp-767 {
    font-size: 48px;
  }
}

.card__icon-rublick {
  z-index: 1;
  width: 30px;
  height: 42px;
  fill: #102654;

  @include vp-767 {
    width: 24px;
    height: 33px;
    background-size: 33px 24px;
  }
}

.card__button {
  display: block;
  font-family: "RobotoCondensed-Bold", "Arial", sans-serif;
  font-size: 12px;
  padding: 25px 0;
  margin: 0 3px;
  line-height: 14px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #102654;
  text-align: center;
  border: 2px solid #102654;
  user-select: none;

  &:hover,
  &:focus,
  &:active {
    background: linear-gradient(97.05deg, #ed0233 17.6%, #003eb7 95.31%);
    color: #ffffff;
    border: 2px solid;
    border-image: linear-gradient(97.05deg, #ed0233 17.6%, #003eb7 95.31%) 1;
    box-sizing: border-box;
  }

  @include vp-1199 {
    margin: 0 10px;
    padding: 24px 0;
  }

  @include vp-767 {
    line-height: 14px;
    margin: 0 -22px 0 -22px;
    padding: 24px 0;
  }
}

.card__back {
  position: absolute;
  font-family: "RobotoCondensed-Bold", "Arial", sans-serif;
  font-size: 100px;
  line-height: 70%;
  color: #e8e8e8;
  opacity: 0.48;
  margin: 0;
  z-index: 0;
  top: -13px;
  user-select: none;

  @include vp-1199 {
    top: -14px;
  }

  @include vp-767 {
    top: -44px;
    left: auto;
    font-size: 80px;
    line-height: 150%;
  }
}
