.coaches {
  width: 100%;
  padding: 0 40px 120px;

  @include vp-767 {
    padding: 29px 15px 35px;
  }
}

.coaches__wrapper {
  max-width: 1276px;
  margin: 0 auto;
}

.coaches__title {
  font-family: "AlumniSans", "Arial", sans-serif;
  font-size: 54px;
  line-height: 65px;
  letter-spacing: 0.03em;
  color: #102654;
  margin: 0 0 48px 59px;

  @include vp-1199 {
    font-size: 42px;
    line-height: 50px;
    text-align: center;
    margin: 0 6px 31px 0;
  }

  @include vp-767 {
    font-size: 32px;
    line-height: 38px;
    margin: 0 5px 37px 0;
  }
}

.coaches__container-swiper {
  width: 100%;
  position: relative;
  overflow: visible;
}

.coaches__swiper {
  max-width: 90%;
}

.coaches__swiper-wrapper {
  margin: 0;
}

.coaches__slide {
  cursor: grab;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: end;
  z-index: 1;
  width: calc(100% / 4.5);
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;
  text-align: center;

  @include vp-1199 {
    width: calc(100% / 2);
  }

  @include vp-767 {
    width: 100%;
    margin-left: 10px;
  }
}

.coaches__slide-link {
  display: grid;
  grid-template-rows: minmax(274px, auto);
  grid-template-columns: 100%;
  align-items: flex-end;
  justify-content: center;

  @include vp-1199 {
    grid-template-rows: 295px;
    grid-template-columns: 260px;
  }

  @include vp-767 {
    grid-template-rows: minmax(274px, auto);
    grid-template-columns: 90%;
  }
}

.coaches__slide-link .coaches__name {
  grid-column: 1/-1;
  grid-row: 1/-1;
  font-family: "RobotoCondensed-Bold", "Arial", sans-serif;
  font-size: 18px;
  line-height: 150%;
  color: #ffffff;
  user-select: none;
  padding: 0 5px;

  @include vp-1199 {
    padding: 0 2px 0 8px;
  }
}

.coaches__slide-link:hover .coaches__body {
  right: 0;

  @include vp-1199 {
    right: -100%;
    pointer-events: none;
  }

  @include vp-767 {
    right: -100%;
    pointer-events: none;
  }
}

.coaches__slide-link:hover .coaches__name--hidden {
  display: none;

  @include vp-1199 {
    display: block;
  }
}

.coaches__body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: -100%;
  background-color: #102654;
  opacity: 89%;
  padding: 50px 42px 53px 40px;
  box-sizing: border-box;
  transition: 1s;
  overflow-y: scroll;
  justify-content: start;

  @include vp-767 {
    padding: 46.5px 28px 42px 25px;
  }
}

.coaches__body h3 {
  font-weight: 700;
  font-size: 18px;
  color: #ffffff;
  margin: 0 -2px -1px 0;
  text-align: center;
}

.coaches__body p {
  font-size: 16px;
  line-height: 150%;
  color: #b6bdcc;
  text-align: center;
  margin: 0 0 13px;

  @include vp-1199 {
    margin: 0 0 12px;
  }

  @include vp-767 {
    margin: -3px -3px 11px 0;
  }
}

.coaches__body ul {
  padding: 0 0 0 31px;
  margin: 19px 0 0;
  text-align: left;

  @include vp-1199 {
    padding: 0 0 0 33px;
  }

  @include vp-767 {
    padding: 0 0 0 25px;
  }
}

.coaches__body li {
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;

  &::marker {
    font-size: 20px;
  }
}

.coaches__body li:first-child {
  margin: 0 0 10px;
}

.coaches__body li:last-child {
  margin: 10px 0 0;
}

.coaches__picture {
  display: block;
  z-index: -1;
  grid-column: 1/-1;
  grid-row: 1/-1;
  user-select: none;
  object-fit: cover;
}

.coaches__picture img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
  background-color: #c4cbd7;

  @include vp-1199 {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}

.coaches__button-prev {
  position: absolute;
  left: -1px;
  color: #afafaf;

  &:hover,
  &:focus,
  &:active {
    color: #5e5e5e;
  }

  @include vp-767 {
    left: -9px;
  }
}

.coaches__button-next {
  position: absolute;
  right: -1px;
  color: #afafaf;

  &:hover,
  &:focus,
  &:active {
    color: #5e5e5e;
  }

  @include vp-767 {
    right: -8px;
  }
}

.coaches__button-next::after,
.coaches__button-prev::after {
  font-size: 32px;

  @include vp-767 {
    font-size: 20px;
  }
}

.coaches__slide-link:focus .coaches__body {
  right: 0;
}

.coaches__slide-link:focus .coaches__name--hidden {
  display: block;

  @include vp-1199 {
    display: none;
  }
}
