.contacts {
  width: 100%;
  padding: 56px 40px 34px;
  border-top: 1px solid #102654;

  @include vp-1023 {
    padding: 62px 45px 45px;
  }

  @include vp-767 {
    padding: 62px 15px 44px;
  }
}

.contacts__wrapper {
  max-width: 439px;
  padding: 0;
  height: 100%;
  margin: 0 auto;

  @include vp-1023 {
    min-width: 500px;
  }

  @include vp-767 {
    min-width: 100%;
  }
}

.contacts__title {
  font-family: "AlumniSans", "Arial", sans-serif;
  font-size: 54px;
  line-height: 65px;
  letter-spacing: 0.03em;
  margin: 0 0 37px;
  color: #102654;

  @include vp-1023 {
    font-size: 42px;
    line-height: 50px;
    margin: 0 0 31px;
  }

  @include vp-767 {
    font-weight: 600;
    font-size: 32px;
    line-height: 38px;
    margin: 0 0 35px;
  }
}

.contacts__list {
  display: grid;
  grid-template-columns: 232px auto;
  grid-template-rows: repeat(2, auto);
  margin: 0;
  gap: 0 60px;

  @include vp-1023 {
    grid-template-columns: 266px auto;
    gap: 5px 47px;
  }

  @include vp-767 {
    display: flex;
    flex-direction: column;
  }
}

.contacts__item:nth-child(-n + 3):not(:nth-child(2n)) {
  border-right: 1px solid #74819c;

  @include vp-767 {
    border: none;
  }
}

.contacts__item:first-child {
  @include vp-767 {
    order: 1;
  }
}

.contacts__item:nth-child(-n + 2):not(:first-child) {
  @include vp-767 {
    order: 3;
  }
}

.contacts__item:nth-child(n + 3):not(:last-child) {
  @include vp-767 {
    order: 2;
  }
}

.contacts__item:last-child {
  @include vp-767 {
    order: 4;
  }
}

.contacts__item dt {
  margin: 0 0 5px;
  font-family: "RobotoCondensed-Bold", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #102654;

  @include vp-1023 {
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    margin: 0 0 6px;
  }

  @include vp-767 {
    font-size: 20px;
    line-height: 30px;
  }
}

.contacts__item dd {
  margin: 0 0 15px;
  font-size: 14px;
  line-height: 21px;
  color: #102654;

  @include vp-1023 {
    font-size: 18px;
    line-height: 27px;
  }

  @include vp-767 {
    font-size: 18px;
    line-height: 27px;
  }
}

.contacts__link {
  &:hover,
  &:focus,
  &:active {
    text-shadow: 0.1px 0.1px 1px #102654;
  }
}
