.form {
  width: 100%;
  padding: 72px 40px 70px;
  background-color: #102654;

  @include vp-1199 {
    padding: 62px 45px 69px;
  }

  @include vp-767 {
    padding: 64px 15px 69px;
  }
}

.form__wrapper {
  max-width: 478px;
  padding: 0;
  height: 100%;
  margin: 0 auto;

  @include vp-1199 {
    max-width: 503px;
  }
}

.form__title {
  font-family: "AlumniSans", "Arial", sans-serif;
  font-weight: 800;
  font-size: 54px;
  color: #ffffff;
  margin: 0 0 25px;
  letter-spacing: 2.3px;
  line-height: 100%;

  @include vp-1199 {
    font-size: 42px;
    line-height: 50px;
    font-weight: 700;
    letter-spacing: 1.5px;
    margin: 0 0 24px;
  }

  @include vp-767 {
    font-size: 32px;
    line-height: 38px;
    font-weight: 600;
    letter-spacing: 1px;
    margin: 0 0 25px;
  }
}

.form__question {
  width: 100%;
  max-width: 410px;
  display: grid;
  grid-template-columns: repeat(2, 46.5%);
  grid-template-rows: repeat(2, auto);
  gap: 28px 29px;

  @include vp-1199 {
    width: 100%;
    max-width: 444px;
    gap: 30px 60px;
  }

  @include vp-767 {
    display: flex;
    flex-direction: column;
    gap: 24px 0;
  }
}

.form__label input {
  width: 100%;
  background-color: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #74819c;
  color: #ffffff;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  padding: 14px 10px 5px 0;

  &:hover {
    text-shadow: 0 1px 3px #ffffff;
    border-bottom: 1px solid #ffffff;
    border-top: none;
    border-left: none;
    border-right: none;
  }

  &:focus,
  &:active {
    text-shadow: 0 1px 3px #ffffff;
    border-bottom: 1px solid #ffffff;
    border-top: none;
    border-left: none;
    border-right: none;
  }

  &:focus-visible {
    outline: 1px solid #ffffff;
    border-radius: 2px;
  }

  &:-webkit-autofill {
    box-shadow: inset 0 0 0 50px #102654;
    /* stylelint-disable-next-line */
    -webkit-text-fill-color: #ffffff;
  }

  &::placeholder {
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: #ffffff;
  }
}

.form__label span {
  color: #ffffff;
}

.form__container-button {
  grid-column: 1/-1;
  display: flex;
}

.form__button {
  width: 100%;
  font-family: "RobotoCondensed-Bold", "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  padding: 16px 0;
  color: #ffffff;
  background-color: transparent;
  border: 3px solid #ffffff;
  cursor: pointer;
  user-select: none;

  &:hover,
  &:focus,
  &:active {
    box-shadow: 1.5px 1.5px 5px #ffffff;
  }

  @include vp-767 {
    margin: 17px 0 0 0;
  }
}
