.reviews {
  width: 100%;
  padding: 0 60px 120px;

  @include vp-1023 {
    padding: 64px 45px 50px;
  }

  @include vp-767 {
    padding: 35px 15px;
  }
}

.reviews__wrapper {
  max-width: 750px;
  min-width: 672px;
  margin: 0 auto;

  @include vp-1023 {
    min-width: 100%;
  }
}

.reviews__title {
  font-family: "AlumniSans", "Arial", sans-serif;
  font-size: 54px;
  line-height: 65px;
  letter-spacing: 0.03em;
  color: #102654;
  text-align: center;
  margin: 0 0 37px;

  @include vp-1023 {
    font-size: 42px;
    line-height: 50px;
    margin: 0 5px 39px 0;
  }

  @include vp-767 {
    font-size: 32px;
    line-height: 38px;
  }
}

.reviews__swiper-slide {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.reviews__swiper-content {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
  gap: 14px 29px;
  background: #1c3374;
  box-shadow: 0 0 40px 0 rgba(#1c3374, 0.2);
  min-width: 560px;
  max-width: 75%;
  padding: 56px 58px 51px 62px;
  box-sizing: border-box;

  @include vp-1023 {
    padding: 54px 64px 57px 65px;
    min-width: 83.5%;
    gap: 17px 28px;
  }

  @include vp-767 {
    padding: 40px 25px;
    grid-template-rows: 90px auto;
    gap: 15px 10px;
    align-items: center;
    justify-items: center;
  }
}

.reviews__swiper-content h3 {
  grid-column: 2;
  grid-row: 1;
  font-family: "RobotoCondensed-Bold", "Arial", sans-serif;
  font-size: 20px;
  color: #ffffff;
  margin: 0;

  @include vp-1023 {
    margin: 2px 0 0 0;
  }
}

.reviews__swiper-content p {
  grid-column: 2;
  grid-row: 2;
  font-size: 16px;
  color: #ffffff;
  margin: 0;

  @include vp-1023 {
    line-height: 22px;
  }

  @include vp-767 {
    grid-column: 1/-1;
    text-align: center;
  }
}

.reviews__picture {
  grid-row: 1/-1;
  grid-column: 1;
  overflow: hidden;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  box-shadow: inset 0 0 0 1px #1c3374;
  margin: 6px 0 0 0;

  @include vp-1023 {
    margin: 8px 0 0;
  }

  @include vp-767 {
    grid-row: 1;
  }
}

.reviews__picture img {
  width: auto;
  height: 100%;
  margin: 0 auto;
}

.reviews__swiper-button-next {
  color: #afafaf;
  right: 41px;

  @include vp-1023 {
    right: -6px;
  }

  &::after {
    font-size: 30px;
  }
}

.reviews__swiper-button-prev {
  color: #afafaf;
  left: 41px;

  @include vp-1023 {
    left: -6px;
  }

  &::after {
    font-size: 30px;
  }
}
