.services {
  position: relative;
  width: 100%;
  padding: 0 60px;
  background-color: #f8f9fc;
  z-index: 1;

  @include vp-767 {
    padding: 35px 15px;
  }
}

.services__wrapper {
  max-width: 1160px;
  margin: 0 auto;
  padding: 120px 0;

  @include vp-1199 {
    padding: 100px 0 104px;
  }

  @include vp-767 {
    padding: 57px 0 65px;
  }
}

.services__title {
  font-family: "AlumniSans", "Arial", sans-serif;
  font-size: 54px;
  line-height: 65px;
  letter-spacing: 0.03em;
  color: #102654;
  margin: 0 6px 18px 0;
  text-align: center;

  @include vp-1199 {
    font-weight: 600;
    font-size: 42px;
    line-height: 50px;
    margin: 0 14px 21px 0;
  }

  @include vp-767 {
    font-size: 32px;
    line-height: 38px;
    margin: 0 11px 19px 0;
  }
}

.services__picture {
  position: absolute;
  bottom: -150px;
  right: 0;
  z-index: 0;
  margin: 0;

  @include vp-1199 {
    bottom: -130px;
  }

  @include vp-767 {
    display: none;
  }
}

.services__picture img {
  @include vp-1199 {
    width: 100%;
    height: 100%;
  }
}
