.tabs__controls {
  padding: 0 0 0;
  margin-bottom: 38px;

  @include vp-1199 {
    margin-bottom: 42px;
  }

  @include vp-767 {
    margin-bottom: 9px;
    padding: 0;
  }
}

.tabs__block {
  margin: 0 auto;
  height: 42px;
  border-bottom: 2.1px solid #dedfe2;

  @include vp-1199 {
    display: flex;
    width: 51.3%;
    justify-content: space-between;
    gap: 15px;
    height: 39px;
    flex-wrap: wrap;
  }

  @include vp-767 {
    width: 100%;
    height: 39px;
  }
}

.tabs__control {
  cursor: pointer;
  width: auto;
  text-align: start;
  padding: 0 0 10.5px;
  margin: 0;
  font-size: 20px;
  line-height: 150%;
  color: #848fa8;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: none;
  background-color: transparent;
  user-select: none;
  text-transform: none;
  opacity: 1;

  &:hover,
  &:focus {
    color: #102654;
    border-bottom: 2px solid #d10a42;
  }

  &:active {
    border-bottom: 2px solid #d10a42;
  }

  @include vp-1199 {
    padding: 0 0 10px;
    font-size: 18px;
    line-height: 150%;
  }

  @include vp-767 {
    font-size: 16px;
    max-width: 78px;
    margin: 0;
    padding: 0 0 13px 0;
  }
}

.tabs__control:not(:last-child) {
  margin: 0 45px 0 0;

  @include vp-1199 {
    margin: 0 21px 0 0;
    padding: 0 0 10px;
  }

  @include vp-767 {
    margin: 0;
    padding: 0 0 13px 0;
  }
}

.tabs__control:last-child {
  @include vp-1199 {
    padding: 0 0 10px;
  }

  @include vp-767 {
    padding: 0 0 13px;
    margin: 0;
  }
}

.tabs__content,
.tabs__element,
.tabs__sub-content {
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 100%;
  background-color: transparent;
}

.tabs__sub-content {
  @include vp-1199 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.tabs__element p:not(:last-child) {
  margin: 0 0 32px 0;

  @include vp-1199 {
    margin: 0 0 34.4px;
  }

  @include vp-767 {
    margin: 0 0 31px;
  }
}
