.header {
  width: 100%;
  background: conic-gradient(from 150.87deg at 16.03% 39.06%, #b80027 -46.69deg, #003d85 32.24deg, #b80027 313.31deg, #003d85 392.24deg);
}

.header__wrapper {
  padding-bottom: 48px;

  @include vp-1199 {
    padding-bottom: 75px;
  }

  @include vp-767 {
    padding-bottom: 49px;
  }
}

.header__container-menu {
  max-width: 1160px;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0 0;

  @include vp-1199 {
    padding: 35px 0 29px;
  }

  @include vp-767 {
    padding: 16px 0;
    align-items: center;
  }
}

.header__list {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(auto-fit, auto);
  gap: 10px;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.header__item {
  grid-column: -1;
  margin: -1px 0 0;
}

.header__logo {
  margin: 10px 0 0;
  user-select: none;

  @include vp-1199 {
    max-width: 80.5px;
    margin: 3px 0 0;
  }

  @include vp-767 {
    max-width: 66px;
    margin: 2px 0 0 0;
  }
}

.header__link {
  font-family: "AlumniSans", "Arial", sans-serif;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #ffffff;
  user-select: none;

  &:hover,
  &:focus,
  &:active {
    text-shadow: 0.1px 0.1px 5px #ffffff;
  }

  @include vp-1199 {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.02em;
  }

  @include vp-767 {
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.02em;
  }
}

.header__container-promo {
  max-width: 1160px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 397px auto;
  gap: 64px;

  @include vp-1199 {
    grid-template-columns: 49% 47.5%;
    grid-template-rows: minmax(386px, auto);
    align-items: center;
    gap: 23px;
  }

  @include vp-767 {
    grid-template-columns: 100%;
    gap: 0;
  }
}

.header__content {
  grid-column: 1;
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 35px 20px;
  align-items: center;
  justify-content: end;
  margin-top: 75px;

  @include vp-1199 {
    grid-template-columns: 113px auto;
    grid-template-rows: minmax(37px, auto) minmax(157px, auto) 104px;
    gap: 15px 0;
    align-items: end;
    margin-top: 28px;
  }

  @include vp-767 {
    width: 100%;
    grid-template-columns: auto auto;
    margin-top: 42px;
    justify-content: end;
  }
}

.header__content h2 {
  max-width: 247px;
  grid-column: 2;
  grid-row: 2;
  font-family: "AlumniSans", "Arial", sans-serif;
  font-size: 96px;
  line-height: 110px;
  text-align: right;
  letter-spacing: 0.04em;
  color: #ffffff;
  -webkit-text-stroke: 2px #ffffff;
  text-transform: uppercase;
  margin: -54px 0 0;

  @include vp-1199 {
    font-size: 72px;
    line-height: 86px;
    margin: 0 8px 6px 0;
    letter-spacing: 3.5px;
    text-transform: none;
  }

  @include vp-767 {
    margin: 0 -1px -14px 0;
  }
}

.header__content span {
  grid-column: 2;
  grid-row: 1;
  font-family: "AlumniSans", "Arial", sans-serif;
  font-size: 48px;
  line-height: 58px;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-align: center;
  margin: 5px 0 0 60px;

  @include vp-1199 {
    font-size: 34px;
    line-height: 41px;
    margin: 0 12px -11px 0;
    text-align: end;
  }

  @include vp-767 {
    font-size: 28px;
    line-height: 34px;
    letter-spacing: 0.03em;
    text-align: right;
    margin: 0 2px 0 0;
  }
}

.header__description {
  display: flex;
  max-width: 113px;
  grid-column: 1;
  grid-row: 2;
  font-size: 14px;
  line-height: 150%;
  text-align: right;
  color: #ffffff;
  margin: 33px 0 0 0;
  align-items: flex-end;

  @include vp-1199 {
    margin: 0 0 24px;
  }

  @include vp-767 {
    grid-column: 1/-1;
    margin: 0 175.6px 18px 0;
  }
}

.header__button {
  grid-column: 2;
  grid-row: 3;
  margin: 0 0 9px 15px;
  font-family: "RobotoCondensed-Bold", "Arial", sans-serif;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #ffffff;
  background-color: transparent;
  border: 4px solid #ffffff;
  align-self: flex-start;
  padding: 19px;
  cursor: pointer;
  user-select: none;

  &:hover,
  &:focus,
  &:active {
    box-shadow: 1.5px 1.5px 5px #ffffff;
  }

  @include vp-1199 {
    margin: 20px 5px 0 25px;
    padding: 19px;
  }

  @include vp-767 {
    grid-column: 1/-1;
    padding: 20px;
    margin: 22px -2px 0 -3px;
  }
}

.header__picture {
  display: block;
  grid-column: 2;
  margin: -10px 0 0;

  @include vp-1199 {
    min-width: 324px;
    margin: -14px 0 0;
    height: auto;
    justify-self: flex-end;
  }
}

.header__picture--mobile-hidden {
  @include vp-767 {
    display: none;
  }
}

.header__picture img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  background-color: #223972;
}
